<div *ngIf="selectedSummoner">
  <h2>{{ selectedSummoner.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ selectedSummoner.id }}</div>

  <div>
      <label>name:
        <input [(ngModel)]="selectedSummoner.name" placeholder="selectedSummoner.name">
      </label>
  </div>
</div>

<h2>Summoners</h2>
<ul class="summoners">
  <li *ngFor="let summoner of summoners"
    [class.selected]="summoner === selectedSummoner"
    (click)="onSelect(summoner)">
    <span class="badge">{{summoner.id}}</span> {{summoner.name}}
  </li>
</ul>
