@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.champs-wrapper {
  background-color: silver;
  width: 100%;
  min-width: 200px;
}

.champs-table {
  margin-top: 40px;
  width: 100%;
}

.champs-table__champ {
  padding: 10px;
  text-align: center;
  min-width: 200px;
}

.champs-table__champ:hover {
  opacity: 0.3;
  filter: grayscale(100%);
}

.green {
  background-color: #16a085;
  color: #16a085;
}

.blue {
  background-color: #34495e;
  color: #34495e;
}

.red {
  background-color: #e74c3c;
}

.logo {
  transform: translate(150px, 270px) scale(5);
  position: absolute;
  border-radius: 50%;
}

div * {
  transition: all .35s ease-in-out;
}

.one {
  width: 100px;
  height: 100px;
  background: blue;
}

.two {
  width: 25px;
  height: 25px;
  background: red;
  margin: auto auto;
}